# Go
bin/
data/
*.exe
*.test
*.prof

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
dist/
build/
*.egg-info/

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# Misc
.env
.idea/
.vscode/
*.swp
*.bak
